*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-mode-color:rgba(37, 35, 35, 1);
    --light-mode-color:rgba(255, 255, 255, 1);


    /* Tic Tac backgound switch Stuff Start Here*/
    --tictac-colortext:white;
    --tictac-border:white;
    /*Tic Tac backgound switch Stuff Ends Here */

    /* Snake backgound switch Stuff Starts Here */
    --snake-colortext:white;
    --snake-border:white;
    /* Snake backgound switch Stuff Ends Here */
    
}



#main{
    display: grid;
    grid-template-columns:4fr 4fr;
    gap: 5px;
    grid-template-areas:
    'header header'
    'nav nav'
    'content-area content-area'
    'footer footer'
    
    ;
}



header{
    grid-area: header;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

/* nav stuff */
nav{
    display: grid;
    grid-area: nav;
    gap: 3px;
    color: white;
    text-align: center;
    

    grid-template-areas: 
    'homenav game1nav game2nav game3nav';
}   


.navbutton{
    color: white;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    margin: 0 auto;
    border: 7px silver ridge;
    background-color: rgb(77, 72, 72);
    font-size: 35px;
    border-radius: 10px;
}

a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
    transform: scale(1.1);
}
a:active{
    background-color: rgb(77, 72, 72);
    color: black;
    border-color: blueviolet;
    font-style: italic;
    transform: scale(1.1);
    color: white;
}
a:visited{
    text-decoration: none;
    
}
a:link{
    text-decoration: none;
}

#homenav{
    grid-area: homenav;
}

#game1nav{
    grid-area: game1nav;
}

#game2nav{
    grid-area: game2nav;
}

#game3nav{
    grid-area: game3nav;
}
/* NAV STUFF END HERE */




/* Game stuff start here */
#content{
    grid-area: content-area;

    /* margin: 0 auto; */
    /* background-color: black; */
    /* width: 80%;
    height: 80vh; */
}


/* FOOTER STARTS HERE */
footer{
    display: grid;
    grid-area: footer;
    border: silver 5px ridge;
    height: 50px;
    width: 100%;
    background-color:rgb(77, 72, 72) ;
    color: white;
    
    
    justify-content: center;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    
    grid-template-areas: 
    'footertext darkbutton'
    'footertext lightbutton'
    ;
}

#footertext{
    grid-area: footertext;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

#darkmode{
    grid-area: darkbutton;
    text-align: center;
    
}
#lightmode{
    grid-area: lightbutton;
    text-align: center;

}
.footerbuttons{
    border: none;
    border-radius: 100px;    
    margin: 0 auto;
    width: 50%;
}
.footerbuttons:hover{
    background-color: rgb(32, 183, 225);
}

/* footer ENDS HERE */


@media (max-width: 650px) {

    #main{
        grid-template-columns: 1fr;

        grid-template-areas:
        'header'
        'nav'
        'content-area'
        'footer'
        ;
    }

    

/* NAV STUFF HERE */
nav{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'homenav game2nav'
    'game1nav game3nav'
    ;
}
/* NAV STUFF ENDS HERE */

/* FOOTER STUFF STARTS */
.footerbuttons{
    border: none;
    border-radius: 100px;    
    margin: 0 auto;
    width: 90%;
}/* FOOTER STUFF ENDS */
    
}